<h1>Create a new Pet</h1>
<form method="post" action="/pets">

  <label>Pet Name: </label>
  <br>
  <input type="text" name="pet[name]" id="pet_name"><br>
  <br>

  <label>Pet Owner: </label
  ><br>
  <% @owners.each do |owner|%>
  <input id="<%= owner.id %>" type="radio" name="pet[owner_id]" value="<%= owner.id %>"><%= owner.name %>
  <% end %>
  <%# <input id="new_owner" type="radio" name="pet[owner_name]">New Owner %>
  <br><br>

  <label>New Owner:</label><br>
  <input type="text" id="owner_name" name="pet[owner_name]">
  <br><br>

  <input type="submit" value="Create Pet">
</form>






<%# // <select name="pet[owner_id]" id="owner-select">
    <option value="">--Please choose an option--</option>
    <% @owners.each do |owner| %>
<%# //  <option value="<%= owner.id %> <%# // "><%= owner.name %> <%# // </option>
    <% end %>
<%# // </select> %>